.details-contain {
  .details-f-s {
    margin-top: 15vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    h3 {
      color: $bgColor1;
    }

    .details-t {
      width: 100%;
      border-collapse: separate;
      margin-top: 10px;
      padding-bottom: 15px;
      border-radius: 10px;
      border-spacing: 15px;

      td {
        width: 50%;
        border: 1px solid #aaa;
        border-radius: 5px;
        padding: 4px;
        text-align: center;
      }
    }
  }

  .detail-first {
    height: 70px;
    background-color: #aaa;

    .detail-in-para {
      font-size: 20px;
      padding: 15px;
    }
  }

  .map-contain {
    width: 100%;

    .map-head {
      color: $bgColor1;
      text-align: center;
      padding-top: 50px;
      padding-bottom: 10px;
    }

    .map-d {
      width: 100%;
      height: 400px;
      background: url("../images/google-map.png") no-repeat;
      background-size: cover;
      background-position: center;
      margin: 20px 0;
    }
  }

  @media (min-width: $tablet) {
    .detail-first {
      height: 70px;
      background-color: #aaa;

      .detail-in-para {
        font-size: 25px;
        padding: 15px;
      }
    }
  }
}
