.section-2 {
	width: 100%;
	height: auto;
	text-align: center;
	.sec-head {
		margin: 0 auto;
		padding-top: 20px;
	}
	.second-sec {
		margin-top: 10px;
	.inner-second-sec {
		display: grid;
		align-items: center;
		margin-top: 20px;
		padding: .125rem 4rem;
	}
}
}
