$color1: #fff;
$color2: #333;
$color3: rgb(0, 0, 0);
$bgColor1: #8b2000;
$bgColor2: #4c88f0;
$bgColor3: #808080;
$font-stack1: 'Roboto', sans-serif;
$font-stack2: Arial, Helvetica, sans-serif;
$tablet-width: 768px;
$desktop-width: 1024px;
